@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Poppins-Regular';
    src: url(/fonts/Poppins-Regular.ttf);
  }

  @font-face {
    font-family: 'Poppins-SemiBold';
    src: url(/fonts/Poppins-SemiBold.ttf);
  }

  * {
    font-family: 'Poppins-Regular';
    position: relative;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* 高度要扣掉Title跟NavBar才能用overflow-auto */
  .page-scrolling {
    @apply no-scrollbar h-[calc(100%-80px-72px)] overflow-y-auto p-4;
  }
}
